extends ../layout/layout

block main-content
    include ../layout/slider
    .row
        .col-xs-12.col-sm-7
            h3 The Manes Winchester Promise
            p This website template has been designed by
                a(href="#")  Free Website Templates
                |  for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the
                a(href="#") Forums
                | .

        .col-xs-12.col-sm-4.col-sm-offset-1.quote
            h3 TESTIMONIALS
            p “Aenean ullamcorper purus vitae nisl tristique sollicitudin. Quisque vestibulum, erat ornare.”
            p.text-right -John Doe and Jane Doe-

    hr

    h4 WHY CHOOSE US?
    include ../elements/articles

    hr

    include ../elements/footer-info