.footer-info.row
    .col-xs-12
        p.title Latest news
        p This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.

    .col-xs-12
        p.title Contact Us
        p ADDRESS: the address city, state 1111
        p PHONE: (+20) 000 222 999
        p EMAIL: info@freewebsitetemplates.com

    .col-xs-12
        p.title SEND US A MESSAGE
        p If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
        a.btn(href="#") Click to send us an email