.slider.row
    .img.col-xs-12.col-sm-8.col-sm-push-4
        img(src="img/family-large.jpg" alt="Family large")
    .info.col-xs-12.col-sm-4.col-sm-pull-8
        p.h3 It’s never easy...
        p.h3 When it comes to family.
        p.h4 But we can set everything straight.
