.slider.row
    img(src="img/family-large.jpg" alt="Family large")
    .col-xs-12
        p.h2 It’s never easy...
        p.h2 When it comes to family.
        p.h4 But we can set everything straight.
