// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  min-height: 42px;
  background: $second-color;
  box-shadow: inset 0 5px 10px darken($second-color, 5%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-align: center;


  .social {
    margin: 1rem auto;
  }

  a {
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url("../img/social-sprite.png") no-repeat;
    background-size: 45px;
    //border: 1px solid red;
    text-indent: -99999px;
    margin: 0 2%;
    white-space: nowrap;


    &.facebook {
      background-position: 0 social(facebook)
    }
    
    &.tweeter {
      background-position: 0 social(twitter)
    }

    &.gplus {
      background-position: 0 social(gplus);
    }

    &.pinterest {
      background-position: 0 social(pinterest);
    }
  }
}