// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  min-height: 42px;
  background: $second-color;
  box-shadow: inset 0 5px 10px darken($second-color, 5%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  a {
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url("../img/icons.png") no-repeat;
    background-size: cover;
    //border: 1px solid red;
    text-indent: -99999px;

    &.facebook {
      background-position: 0 -280px;
    }
    
    &.tweeter {
      background-position: 0 -350px;
    }
  }


}