// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn{
  background: linear-gradient(btn-color(top), btn-color(bottom));
  box-shadow: 1px 1px 1px btn-color(box-shadow);
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px btn-color(text-shadow);
  margin-bottom: 10px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  color: #fff;
}