// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn{
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 10px;
}