// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$title-font: 'Times New Roman', sans-serif;

$text-font-stack: Arial, 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(98, 98, 98) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;



$base-color: rgb(87, 97, 78) !default;

$second-color: rgb(78, 89, 68) !default;

$background-color: rgb(217, 217, 217) !default;

$main-nav-color: rgb(184, 198, 172) !default;

$main-nav-active-color: rgb(255, 255, 255) !default;

$slider-bg-color: rgb(233, 233, 233) !default;

$slider-text-color: $second-color;

$main-content-color: rgb(112, 127, 98) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



// button link gradient colors
$btn-color: (
  top: rgb(114, 114, 114),
  bottom: rgb(91, 91, 91),
  box-shadow: rgb(115, 115, 115),
  text-shadow: rgb(67, 67, 67)
);


$social-sprite: (
  facebook: 0,
  twitter: -45px,
  gplus: -92px,
  pinterest: -137px
);

$logo-selector: (
  small: (name: 'logo-small.png',
          width: 81px,
          height: 62px),
  normal: ( name: 'logo.png',
            width: 360px,
            height: 52px)
);


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
